@import url('https://fonts.googleapis.com/css2?family=Inter&family=Space+Grotesk&display=swap');
body{
  font-family: 'Inter', sans-serif;
  font-family: 'Space Grotesk', sans-serif;
  background-color: #041120fb;
  margin: 0%;
  
  /* background-image: url("./assets/bgImg.png");
  background-size: cover;
  background-position: center; */
}

